<div class="container">
  <div class="row">
    <div class="header">
      <h3>La comedia del map</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-design background">
        <div class="text-center" id="form_title">
          <h4>A l'affiche</h4>
        </div>
          <div class="form-inputs">
            <% @plays.each do |play| %>
              <li>
                <%= link_to play.title, play_path(play) %>
                <em>(<%= play.base_price %> EUR)</em>
              </li>
            <% end %>
          </div>
          <div class="form-actions text-center">
            <%= link_to 'Acheter un ticket', new_ticket_path(@play), class: "btn btn-primary", style: "margin: 50px" %>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form-design background">
        <div class="text-center" id="form_title">
          <h4>Les meilleurs du moment</h4>
        </div>
      </div>
    </div>
  </div>
</div>
