<div class="container">
  <div class="row">
    <div class="header">
      <h3>La comedia del map</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="on-air">
        <h6>A l'affiche</h6>
        <ul class='list-unstyled'>
          <% @plays.each do |play| %>
            <li>
              <%= link_to play.title, play_path(play) %>
            </li>
          <% end %>
          <%= link_to 'Acheter un ticket', new_ticket_path(@play) %>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="top">
        <h6>Les meilleurs du moments</h6>
      </div>
    </div>
  </div>
</div>
